.idiomas {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    justify-self: center;
    grid-template-columns:
        4fr
        2fr
        6fr;
    margin-top: 160px;
    gap: 2.5rem;
}

.idiomas p {
    font-family: "Poppins";
}

.idiomas img {
    place-self: center center;
}

.idioma {
    display: flex;
    font-weight: 600;
    max-height: 32px;
    font-size: 18px;
}

.proficiencia {
    display: grid;
    font-weight: 600;
    text-align: end;
    max-height: 32px;
    font-size: 18px;
    color: #7c7c7c;
}

.h3-2 {
    align-self: center;
    justify-self: end;
    line-height: 0.8;
}

.grid {
    display: grid;
    gap: 1.5rem;
    position: relative;
}

.grid::after {
    display: block;
    /* justify-content: space-between; */
    content: "";
    position: absolute;
    left: 40%;
    width: 5px;
    height: 150px;
    border-radius: 12px;
    background-color: #eaeaea;
}

.grid-idioma {
    display: flex;
    gap: 6rem;
    justify-content: space-between;
}

.cinza {
    color: #7c7c7c;
}

@media (max-width: 1100px) {
    .idiomas {
        grid-template-columns: 1fr;
        max-width: 500px;
        margin: 2rem;
    }

    .grid::after {
        left: 35%;
    }

    .h3-2 {
        justify-self: center;
    }

    #imagem-setas {
        display: none;
    }
}

@media (max-width: 560px) {
    .idiomas {
        margin: 0;
    }

    .grid-idioma {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0rem;
        justify-items: center;
    }

    .grid::after {
        display: none;
    }
}
